
<form action="/add" method="POST">
    <input type="number" name="num1" placeholder="Enter first number" required>
    <input type="number" name="num2" placeholder="Enter second number" required>
    <button type="submit">add</button>
</form>

<% if (result !== null){
    %>

    <h2>Result: <%= result %></h2>

    <% } %>
